.placeholder {
    position: absolute;
    width: 300px;
    height: 300px;
    margin: 0.5rem;
    background-color: gray;
    z-index: -1;
    transition: opacity 1s ease-out;
    user-select: none;

}