main {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.mainTitle {
	font-size: 2rem;
}

.introductionWrapper {
	display: flex;
	/* justify-content: center; */
	/* width: 50%; */
	align-items: center;
	flex-direction: column;
	gap: 1rem;
	height: 100vh;
	font-size: 1.25rem;
	margin-top: 2rem;
}

.certMain {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	max-height: 100%;
}

.certWrapper {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 1rem;
	font-size: 1.25rem;
	min-height: 200px;
	max-height: 35%;
}

.certWrapper img {
	min-height: 200px;
	max-height: 100%;
	max-width: 90%;
}

.certWrapper a {
	text-decoration: none;
}

.certWrapper a:link {
	color: var(--primary-color);
}

.certWrapper a:visited {
	color: var(--primary-color);
}

.certWrapper a:focus,
.certWrapper a:hover {
	text-decoration: underline;
}

.certWrapper a:active {
	color: red;
}
