.navbar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border: 2px gray solid;
}

.navbar li {
	margin: 1rem;
	padding: 1rem;
	margin-top: 0;
	margin-bottom: 0;
	border: 2px gray solid;
}

.limitChars {
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 3; /* Limit to 3 lines of text */
	-webkit-box-orient: vertical;
	width: 160px;
}

.tableWidth {
	width: 160px;
}

a {
	color: var(--primary-color);
}

table {
	border-collapse: collapse;
	width: 100%;
}

td {
	border: 1px solid #ddd;
	padding: 8px;
}

tr:hover {
	background-color: #363636;
}

.info {
	position: fixed;
	cursor: pointer;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 4rem 8rem;
	font-size: 40px;
}

table th {
	border: 1px solid #ddd;
	font-weight: bold;
	padding: 6px;
	text-align: center;
}

.head {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.input {
	font-size: 16px;
	padding: 4px;
	border: 1px solid #ddd;
	max-width: 10rem;
}

.loginWrapper {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	margin: 2rem;
	background-color: #4b4e53;
	width: 280px;
	box-shadow: 2px 2px 2px black;
}

.loginForm {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	width: 300px;
	padding: 3rem;
}

.loginForm button {
	width: 30%;
	margin-left: 2.25rem;
}

.response p {
	width: 250px;
	margin: 0.25rem;
	word-wrap: break-word;
}

.pageSelectorWrapper {
	display: flex;
	flex-direction: row;
	gap: 0.25rem;
	justify-content: center;
	align-items: center;
	margin: 0.25rem;
}

.pageSelectorWrapper button {
	width: 2rem;
	height: 2rem;
	font-size: 1.5rem;
}

.pageSelectorWrapper div {
	font-size: 2rem;
}
