* {
    margin: 0;
    padding: 0;
}

:root{
    --sidebar-width: 20rem;
    --primary-color: #a1aebd;
    --primary-background-color: #1e2126;
}

body {
    padding-left: var(--sidebar-width);
    background-color: #252b32;
    color: #a1aebd;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}