* {
    margin: 0;
    padding: 0;
}

:root{
    --sidebar-width: 20rem;
}

body {
    padding-left: var(--sidebar-width);
    background-color: #252b32;
    color: #a1aebd;
}

main {
    padding: 2rem;
}